@font-face {
  font-family: "Helvetica";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/Helvetica/Helvetica.ttf") format("opentype"),
  url("/fonts/Helvetica/Helvetica.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Bold";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/Helvetica/Helvetica-Bold.ttf") format("opentype"),
  url("/fonts/Helvetica/Helvetica-Bold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica-Oblique";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/Helvetica/Helvetica-Oblique.ttf") format("opentype"),
  url("/fonts/Helvetica/Helvetica-Oblique.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "PTSans-Regular";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/PT_Sans/PTSans-Regular.ttf") format("opentype"),
  url("/fonts/PT_Sans/PTSans-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "PTSans-Bold";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/PT_Sans/PTSans-Bold.ttf") format("opentype"),
  url("/fonts/PT_Sans/PTSans-Bold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab-Regular";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/Zilla_Slab/ZillaSlab-Regular.ttf") format("opentype"),
  url("/fonts/Zilla_Slab/ZillaSlab-Regular.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab-Bold";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/Zilla_Slab/ZillaSlab-Bold.ttf") format("opentype"),
  url("/fonts/Zilla_Slab/ZillaSlab-Bold.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab-Light";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/Zilla_Slab/ZillaSlab-Light.ttf") format("opentype"),
  url("/fonts/Zilla_Slab/ZillaSlab-Light.ttf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "ZillaSlab-SemiBold";
  font-weight:400;
  font-style:normal;
  src: url("/fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf") format("opentype"),
  url("/fonts/Zilla_Slab/ZillaSlab-SemiBold.ttf") format("opentype");
  font-display: swap;
}







