$font-Helvetica: "Helvetica";
$font-Helvetica-Bold: "Helvetica-Bold";
$font-Helvetica-Oblique: "Helvetica-Oblique";

$font-PTSans-Regular: "PTSans-Regular";
$font-PTSans-Bold: "PTSans-Bold";

$font-ZillaSlab-Regular: "ZillaSlab-Regular";
$font-ZillaSlab-Bold: "ZillaSlab-Bold";
$font-ZillaSlab-SemiBold: "ZillaSlab-SemiBold";
$font-ZillaSlab-Light: "ZillaSlab-Light";

